# Importing libraries

In [ ]:
# !pip install xgboost
# !pip install category_encoders

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import skew, norm
from sklearn.inspection import permutation_importance
from sklearn.metrics import mean_squared_log_error, make_scorer, mean_absolute_percentage_error
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, QuantileTransformer
from sklearn.linear_model import Lasso, RidgeCV, LinearRegression
from sklearn.model_selection import GridSearchCV, train_test_split, cross_val_score
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, StackingRegressor
from xgboost import XGBRegressor
from category_encoders import TargetEncoder
from lightgbm import LGBMRegressor

#import h2o
#h2o.init()
#from h2o.estimators import H2OTargetEncoderEstimator

plt.style.use('ggplot')

# Custom metric function

In [ ]:
import typing
import numpy as np
from sklearn.metrics import mean_absolute_percentage_error, r2_score, mean_squared_error

THRESHOLD = 0.15
NEGATIVE_WEIGHT = 1.1

def deviation_metric_one_sample(y_true: typing.Union[float, int], y_pred: typing.Union[float, int]) -> float:
    """
    Реализация кастомной метрики для хакатона.

    :param y_true: float, реальная цена
    :param y_pred: float, предсказанная цена
    :return: float, значение метрики
    """
    deviation = (y_pred - y_true) / np.maximum(1e-8, y_true)
    if np.abs(deviation) <= THRESHOLD:
        return 0
    elif deviation <= - 4 * THRESHOLD:
        return 9 * NEGATIVE_WEIGHT
    elif deviation < -THRESHOLD:
        return NEGATIVE_WEIGHT * ((deviation / THRESHOLD) + 1) ** 2
    elif deviation < 4 * THRESHOLD:
        return ((deviation / THRESHOLD) - 1) ** 2
    else:
        return 9


def deviation_metric(y_true: np.array, y_pred: np.array) -> float:
    return np.array([deviation_metric_one_sample(y_true[n], y_pred[n]) for n in range(len(y_true))]).mean()

def median_absolute_percentage_error(y_true: np.array, y_pred: np.array) -> float:
    return np.median(np.abs(y_pred-y_true)/y_true)

def metrics_stat(y_true: np.array, y_pred: np.array) -> typing.Dict[str,float]:
    mape = mean_absolute_percentage_error(y_true, y_pred)
    mdape = median_absolute_percentage_error(y_true, y_pred)
    rmse = mean_squared_error(y_true, y_pred, squared=False)
    r2 = r2_score(y_true, y_pred)
    raif_metric = deviation_metric(y_true, y_pred)
    return {'mape':mape, 'mdape':mdape, 'rmse': rmse, 'r2': r2, 'raif_metric':raif_metric}

# Importing dataset

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/train.csv')
train.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          city floor     id  ...        date  realty_type  price_type
0        Пермь   NaN  COL_0  ...  2020-01-05           10           0
1       Шатура   NaN  COL_1  ...  2020-01-05           10           0
2    Ярославль   NaN  COL_2  ...  2020-01-05          110           0
3  Новокузнецк   NaN  COL_3  ...  2020-01-05          110           0
4       Москва   NaN  COL_4  ...  2020-01-05           10           0

[5 rows x 77 columns]

In [ ]:
test = pd.read_csv('/content/drive/MyDrive/test.csv')
test.head()

      city floor          id  ...        date  realty_type  price_type
0    Курск   1.0  COL_289284  ...  2020-09-06          100           1
1   Сургут   1.0  COL_289305  ...  2020-09-06          110           1
2   Тюмень  -1.0  COL_289318  ...  2020-09-06           10           1
3  Иркутск   1.0  COL_289354  ...  2020-09-06          100           1
4    Курск   NaN  COL_289399  ...  2020-09-06           10           1

[5 rows x 76 columns]

# Encoding

In [ ]:
#replacing in 'region' Алтай to Алтайский край 
train['region'].replace('Алтай', 'Алтайский край', inplace=True) 
test['region'].replace('Алтай', 'Алтайский край', inplace=True)

In [ ]:
# target encoding 'region', 'osm_city_nearest_name'

encoder = TargetEncoder()
train['region_encoded'] = encoder.fit_transform(train['region'], train['per_square_meter_price'])
test['region_encoded'] = encoder.transform(test['region'])

encoder = TargetEncoder()
train['osm_city_nearest_name_encoded'] = encoder.fit_transform(train['osm_city_nearest_name'], train['per_square_meter_price'])
test['osm_city_nearest_name_encoded'] = encoder.transform(test['osm_city_nearest_name'])

# encoder = TargetEncoder()
# train['city_encoded'] = encoder.fit_transform(train['city'], train['per_square_meter_price'])
# test['city_encoded'] = encoder.transform(test['city'])

In [ ]:
# concat train and test
y = train['per_square_meter_price'].to_numpy()

df = pd.concat([train, test]).reset_index(drop=True)
df.drop(['per_square_meter_price'], axis=1, inplace=True)

df.shape, df.index

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

((282766, 78), RangeIndex(start=0, stop=282766, step=1))

# Filling in missing values

In [ ]:
# Создаем таблицу признаков, которые имеют пропущенные значения
df_nan = pd.DataFrame(df.loc[:, df.isna().any()].isna().sum().sort_values(ascending=False), columns=['NaN count'])
df_nan['NaN %'] =  df_nan.apply(lambda x: round(x * 100 / len(df), 3))
df_nan

                                NaN count   NaN %
floor                              177538  62.786
reform_mean_floor_count_500         30216  10.686
reform_mean_year_building_500       29685  10.498
reform_house_population_500         27282   9.648
reform_mean_floor_count_1000        16743   5.921
reform_mean_year_building_1000      16274   5.755
reform_house_population_1000        14631   5.174
street                               1612   0.570
osm_city_nearest_population            55   0.019

In [ ]:
missing = ['reform_mean_floor_count_500',
           'reform_mean_year_building_500', 
           'reform_house_population_500',
          'reform_mean_floor_count_1000',
          'reform_mean_year_building_1000',
          'reform_house_population_1000']

for feat in missing:
    df[feat] = df.groupby("lemma_city")[feat].transform(lambda x: x.fillna(x.median()))
    df[feat] = df[feat].fillna(df[feat].median())

df['osm_city_nearest_population'].fillna(df['osm_city_nearest_population'].min(), inplace=True)
df.drop(['street', 'id', 'date', 'lng', 'lat', 'city', 'floor', 'region', 'osm_city_nearest_name', 'lemma_city'], axis=1, inplace=True)

df['realty_type'] = df['realty_type'].astype('str')
df['realty_type'].dtype

df['price_type'] = df['price_type'].astype('str')
df['price_type'].dtype

dtype('O')

# Preprocessing 'floor' column

In [ ]:
df['floor'] = df['floor'].fillna('777')

# наличие нескольких этажей (или нетипичных)
list_floor_A = ['подвал, 1', 'цоколь, 1', '1, подвал', '1-й, подвал', 'подвал,1', 
                'подвал, 1, 2, 3', '1, 2, 3, мансардный', '1-2, подвальный', 'цоколь, 1, 2,3,4,5,6', 
                '1,2,антресоль', '1, подвал, антресоль', 'подвал, 1-3', 
                'цокольный, 1,2', '1,2,3 этаж, подвал', 'подвал,1,2,3', '1,2,подвал ', '1-7', 'подвал, 1, 2', 
                '1, 2 этаж', '1,2,3, антресоль, технический этаж', '1,2,3,4, подвал', 
                ' 1, 2, антресоль', 'подвал, цоколь, 1 этаж', '1, антресоль', '1-3', '1, 2.', 'подвал , 1 ', 
                '1, 2', 'подвал, 1,2,3', '1 + подвал (без отделки)', '1-й, 2-й', '1 этаж, подвал', '1, цоколь', 
                'подвал, 1-7, техэтаж', '1, 2, 3', 'цоколь, 1,2(мансарда)', 'подвал, 1-4 этаж', 'подва, 1.2 этаж',
                '1.2', '1-3 этажи, цоколь (188,4 кв.м), подвал (104 кв.м)', ' 1-2, подвальный', 
                'подвал, 1 и 4 этаж', 'подвал,1,2,3,4,5', '1,2', '1,2', '1,2,3', '1,2,3,4', 
                '1,2,3,4,5', '1,2 ', '5, мансарда', '3, мансарда (4 эт)', 'подвал, 2', '2, 3, 4, тех.этаж', '3, 4',
               'технический этаж,5,6', '3 этаж, мансарда (4 этаж)', '2,3', '4, 5', '3 этаж, мансарда (4 этаж)',
               '3, мансарда', '3,4', '7,8', 'b', 'a', '3, мансарда', 'подвал, 3. 4 этаж', '2, 3']

# наличие 1 этажа 
list_floor_1 = ['1 (цокольный этаж)', 'фактически на уровне 1 этажа', '1 (по док-м цоколь)', '1 этаж', '1-й']

# замена строковых значений на int
list_floor_2 = {'тех.этаж (6)':6, 'техническое подполье':-1, '2-й':2, '5(мансарда)':5, 'подвал':-1, 
                'цоколь':-1, 'антресоль':2, 'мезонин':2, 'мансарда (4эт)':4, '3 (антресоль)':3, 
                'мансарда':2, '3 этаж':3, '4 этаж':4, '5 этаж':5,
                'цокольный':-1 }

df['floor'] = df['floor'].astype('str')
df['floor'] = df['floor'].apply(lambda x: x.lower())

df['floor'] = ['1' if i in list_floor_1 else i for i in df['floor']]
df['floor'] = ['9999' if i in list_floor_A else i for i in df['floor']]
df['floor'] = [str(list_floor_2[i]) if i in list_floor_2.keys() else i for i in df['floor']]

df['floor'] = pd.to_numeric(df['floor'])
df['floor'] = df['floor'].astype(int)

df[df['floor'].isin([-1, 0, 1, 2, 3, 4, 5, 6, 7, 8])]['floor'].value_counts()#.mean()

med_floor = int(df[df['floor'].isin([-1, 0, 1, 2, 3, 4, 5, 6, 7, 8])]['floor'].median())
df['floor'] = df['floor'].replace(9999, 1)

#df.loc[(df['floor'] != 1) & (df['floor'] != 7777), 'floor'] = 2
df['floor'] = df['floor'].astype('str')
df['floor'].unique()

array(['777', '3', '4', '-1', '1', '14', '2', '8', '-2', '6', '10', '5',
       '16', '19', '7', '9', '58', '24', '18', '26', '17', '48', '11',
       '-3', '15', '22', '60', '12', '21', '35', '28', '38', '39', '13',
       '81', '44', '82', '25', '45', '47', '23', '37', '29', '113', '78',
       '42', '69', '27', '46', '53', '80', '70', '76', '64', '30', '73',
       '77', '52', '67', '65', '20', '40', '49', '75', '93', '94', '91',
       '72', '79', '84', '92', '33', '66', '90', '31', '36', '61', '71',
       '68', '51', '97', '43', '95', '85', '50', '0', '62', '54', '74',
       '57', '41', '34', '59', '56', '123', '55', '83'], dtype=object)

In [ ]:
train['floor'] = df['floor'][:len(y)]
test['floor'] = df['floor'][len(y):].reset_index(drop=True)

In [ ]:
# target encoding 'floor'

encoder = TargetEncoder()
a = encoder.fit_transform(train['floor'], train['per_square_meter_price'])
b = encoder.transform(test['floor'])
df['floor_encoded'] = pd.concat([a, b]).reset_index(drop=True)

# Preprocessing 'city' column

In [ ]:
# lemmatization of 'city'

city = pd.DataFrame(df['city'].value_counts())

from gensim.models import Word2Vec
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
import re
from nltk.tokenize import RegexpTokenizer
import nltk
nltk.download('stopwords')
nltk.download('wordnet')


stop_nltk = stopwords.words('russian')
STOPWORDS = STOPWORDS.union(set(["don't", "i'm"]))

reg_tok = RegexpTokenizer('\w+')

def clean_and_lemmatize(text):
    #cleaning
    text = text.lower()
    text = re.sub(r'http\S+', " ", text)
    text = re.sub(r'@\w+',' ',text)
    text = re.sub(r'#\w+', ' ', text)
    text = re.sub(r'\d+', ' ', text)
    text = re.sub('r<.*?>',' ', text)
    text = reg_tok.tokenize(text)
    
    
    # filtering
    text = " ".join([word for word in text if not word in STOPWORDS and len(word) > 2])
    
    # lemmatization
    text = WordNetLemmatizer().lemmatize(text)
    text = ' '.join(text.split())
    
    
    return text

df['lemma_city'] = df['city'].apply(clean_and_lemmatize)
df['lemma_city']

list_unique_city = list(df['lemma_city'])
list_unique_city

df[['city', 'lemma_city']].tail(100)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

                   city       lemma_city
282666           Самара           самара
282667          Иркутск          иркутск
282668          Ангарск          ангарск
282669  Нижний Новгород  нижний новгород
282670            Томск            томск
...                 ...              ...
282761       Красноярск       красноярск
282762            Томск            томск
282763           Калуга           калуга
282764  Нижний Новгород  нижний новгород
282765  Нижний Новгород  нижний новгород

[100 rows x 2 columns]

In [ ]:
train['lemma_city'] = df['lemma_city'][:len(y)]
test['lemma_city'] = df['lemma_city'][len(y):].reset_index(drop=True)

In [ ]:
encoder = TargetEncoder()
a = encoder.fit_transform(train['lemma_city'], train['per_square_meter_price'])
b = encoder.transform(test['lemma_city'])
df['city_encoded'] = pd.concat([a, b]).reset_index(drop=True)

In [ ]:
# train[train['price_type'] == 0]['per_square_meter_price'].describe()

In [ ]:
# train[train['price_type'] == 1]['per_square_meter_price'].describe()

# Function to separate city to parts by its 'lng' and 'lat'

In [ ]:
# lng_lat = df.groupby('city')[['lng', 'lat']].agg(['min', 'max'])
# lng_lat['city_lng'] = lng_lat['lng']['max'] - lng_lat['lng']['min']
# lng_lat['city_lat'] = lng_lat['lat']['max'] - lng_lat['lat']['min']
# df = pd.merge(df, lng_lat, on='city')
# df.rename(columns={('lng', 'min'): 'lng_min', ('lng', 'max'): 'lng_max', ('lat', 'min'): 'lat_min', ('lat', 'max'): 'lat_max', ('city_lng', ''): 'city_lng', ('city_lat', ''): 'city_lat'}, inplace = True)
# n=3

# def lng_index(x):
#     for lng, city in zip(df['lng_min'], df['city_lng']):
#         if (x >= lng) and (x <= (lng + city / n )):
#             return 1
#         elif (x >= lng + city / n ) and (x <= lng + city / n * (n-1)):
#             return 2
#         else:
#             return 3
# n=3

# def lat_index(x):
#     for lng, city in zip(df['lat_min'], df['city_lat']):
#         if (x >= lng) and (x <= (lng + city / n )):
#             return 1
#         elif (x >= lng + city / n ) and (x <= lng + city / n * (n-1)):
#             return 2
#         else:
#             return 3
# df['Ing_index'] = df['lng'].apply(lng_index)
# df['Iat_index'] = df['lat'].apply(lat_index)

In [ ]:
# df_nan = pd.DataFrame(df.loc[:, df.isna().any()].isna().sum().sort_values(ascending=False), columns=['NaN count'])
# df_nan['NaN %'] =  df_nan.apply(lambda x: round(x * 100 / len(df), 3))
# df_nan

In [ ]:
# df.groupby('city')['reform_house_population_1000'].median().isna().sum()

In [ ]:
# df_nan = pd.DataFrame(df.loc[:, df.isna().any()].isna().sum().sort_values(ascending=False), columns=['NaN count'])
# df_nan['NaN %'] =  df_nan.apply(lambda x: round(x * 100 / len(df), 3))
# df_nan

In [ ]:
# df.dtypes.unique(), len(df.columns)

In [ ]:
# skewed_features = df[df.select_dtypes(include=['float64', 'int64']).columns].apply(lambda x: skew(x)).sort_values(ascending=False)
# pd.DataFrame({'Skew' :skewed_features}) 
# df[skewed_features[(skewed_features > 1) | (skewed_features < -1)].index] = np.log1p(df[skewed_features[(skewed_features > 1) | (skewed_features < -1)].index])

In [ ]:
# skewed_features[(skewed_features > 1) | (skewed_features < -1)]

# One-Hot-Encoding

In [ ]:
df_dummies = pd.get_dummies(df)

In [ ]:
df_dummies.shape

(282766, 74)

In [ ]:
df.columns

Index(['osm_amenity_points_in_0.001', 'osm_amenity_points_in_0.005',
       'osm_amenity_points_in_0.0075', 'osm_amenity_points_in_0.01',
       'osm_building_points_in_0.001', 'osm_building_points_in_0.005',
       'osm_building_points_in_0.0075', 'osm_building_points_in_0.01',
       'osm_catering_points_in_0.001', 'osm_catering_points_in_0.005',
       'osm_catering_points_in_0.0075', 'osm_catering_points_in_0.01',
       'osm_city_closest_dist', 'osm_city_nearest_name_encoded',
       'osm_city_nearest_population', 'osm_crossing_closest_dist',
       'osm_crossing_points_in_0.001', 'osm_crossing_points_in_0.005',
       'osm_crossing_points_in_0.0075', 'osm_crossing_points_in_0.01',
       'osm_culture_points_in_0.001', 'osm_culture_points_in_0.005',
       'osm_culture_points_in_0.0075', 'osm_culture_points_in_0.01',
       'osm_finance_points_in_0.001', 'osm_finance_points_in_0.005',
       'osm_finance_points_in_0.0075', 'osm_finance_points_in_0.01',
       'osm_healthcare_points_in_0.005', 'osm_healthcare_points_in_0.0075',
       'osm_healthcare_points_in_0.01', 'osm_historic_points_in_0.005',
       'osm_historic_points_in_0.0075', 'osm_historic_points_in_0.01',
       'osm_hotels_points_in_0.005', 'osm_hotels_points_in_0.0075',
       'osm_hotels_points_in_0.01', 'osm_leisure_points_in_0.005',
       'osm_leisure_points_in_0.0075', 'osm_leisure_points_in_0.01',
       'osm_offices_points_in_0.001', 'osm_offices_points_in_0.005',
       'osm_offices_points_in_0.0075', 'osm_offices_points_in_0.01',
       'osm_shops_points_in_0.001', 'osm_shops_points_in_0.005',
       'osm_shops_points_in_0.0075', 'osm_shops_points_in_0.01',
       'osm_subway_closest_dist', 'osm_train_stop_closest_dist',
       'osm_train_stop_points_in_0.005', 'osm_train_stop_points_in_0.0075',
       'osm_train_stop_points_in_0.01', 'osm_transport_stop_closest_dist',
       'osm_transport_stop_points_in_0.005',
       'osm_transport_stop_points_in_0.0075',
       'osm_transport_stop_points_in_0.01', 'price_type', 'realty_type',
       'reform_count_of_houses_1000', 'reform_count_of_houses_500',
       'reform_house_population_1000', 'reform_house_population_500',
       'reform_mean_floor_count_1000', 'reform_mean_floor_count_500',
       'reform_mean_year_building_1000', 'reform_mean_year_building_500',
       'region_encoded', 'total_square', 'floor_encoded', 'city_encoded'],
      dtype='object')

In [ ]:
train_encode = df_dummies[:len(y)] #drop + save train pre-encoded columns
test_encode = df_dummies[len(y):] #drop + save test pre-encoded columns
train_encode.head()

   osm_amenity_points_in_0.001  ...  realty_type_110
0                            4  ...                0
1                            3  ...                0
2                            1  ...                1
3                            0  ...                1
4                            1  ...                0

[5 rows x 74 columns]

# Scaling data

In [ ]:
scaled_data = StandardScaler() 
scaled_X_train = scaled_data.fit_transform(train_encode) #scale train data (1st half of full data)
scaled_X_test = scaled_data.transform(test_encode) #scale test data (2nd half of full data)

In [ ]:
y_log = np.log1p(y)
y_log

array([11.84895832, 11.00893831, 10.71809458, ..., 10.48458096,
       10.56504185, 10.62948943])

# Train/ test split

In [ ]:
train_X, test_X, train_y, test_y = train_test_split(scaled_X_train, y_log, random_state=1, test_size=0.4)
valid_X, test_X, valid_y, test_y = train_test_split(test_X, test_y, random_state=1, test_size=0.5)
print(train_X.shape, valid_X.shape, test_X.shape)
print(train_y.shape, valid_y.shape, test_y.shape)

(167875, 74) (55958, 74) (55959, 74)
(167875,) (55958,) (55959,)

# Auto ML

In [ ]:
# !pip install flaml
# !pip install automl

In [ ]:
import flaml
from flaml import AutoML
from flaml.ml import sklearn_metric_loss_score

automl = AutoML()
settings = {
    "time_budget": 120,
    "metric": 'mape',                                                     # ['mae','mse','r2']
    "estimator_list": ['lgbm', 'xgboost', 'catboost', 'rf'],                                          # список моделей
    "task": 'regression'}                           
automl.fit(X_train=train_X, y_train=train_y, X_val=valid_X, y_val=valid_y, **settings)              # 2 звездочки раскрывают словарь в settings

print('Лучшие гиперпараметры:', automl.best_config)
print('Лучшая метрика: {}'.format((automl.best_loss)))
print('Время на обучение: {} s'.format(automl.best_config_train_time))

automl.model                # инициализирует модель с лучшими гиперпараметрами получившимися после обучения
y_pred = automl.predict(test_X)
print('raif_metric', '=', (metrics_stat(y_pred, test_y)))  # можно поставить mae. R2 будет 
                                        # выводится так: 1 - sklearn_metric_loss_score('r2', y_pred, y_test)

[flaml.automl: 09-25 16:45:16] {1431} INFO - Evaluation method: holdout
[flaml.automl: 09-25 16:45:16] {1477} INFO - Minimizing error metric: mape
[flaml.automl: 09-25 16:45:16] {1514} INFO - List of ML learners in AutoML Run: ['lgbm', 'xgboost', 'catboost', 'rf']
[flaml.automl: 09-25 16:45:16] {1746} INFO - iteration 0, current learner lgbm
[flaml.automl: 09-25 16:45:16] {1931} INFO -  at 0.4s,	best lgbm's error=0.0757,	best lgbm's error=0.0757
[flaml.automl: 09-25 16:45:16] {1746} INFO - iteration 1, current learner lgbm
[flaml.automl: 09-25 16:45:17] {1931} INFO -  at 0.6s,	best lgbm's error=0.0757,	best lgbm's error=0.0757
[flaml.automl: 09-25 16:45:17] {1746} INFO - iteration 2, current learner lgbm
[flaml.automl: 09-25 16:45:17] {1931} INFO -  at 0.9s,	best lgbm's error=0.0642,	best lgbm's error=0.0642
[flaml.automl: 09-25 16:45:17] {1746} INFO - iteration 3, current learner xgboost
[flaml.automl: 09-25 16:45:17] {1931} INFO -  at 1.1s,	best xgboost's error=0.6226,	best lgbm's error=0.0642
[flaml.automl: 09-25 16:45:17] {1746} INFO - iteration 4, current learner lgbm
[flaml.automl: 09-25 16:45:18] {1931} INFO -  at 1.6s,	best lgbm's error=0.0558,	best lgbm's error=0.0558
[flaml.automl: 09-25 16:45:18] {1746} INFO - iteration 5, current learner lgbm
[flaml.automl: 09-25 16:45:18] {1931} INFO -  at 1.9s,	best lgbm's error=0.0558,	best lgbm's error=0.0558
[flaml.automl: 09-25 16:45:18] {1746} INFO - iteration 6, current learner lgbm
[flaml.automl: 09-25 16:45:18] {1931} INFO -  at 2.5s,	best lgbm's error=0.0551,	best lgbm's error=0.0551
[flaml.automl: 09-25 16:45:18] {1746} INFO - iteration 7, current learner lgbm
[flaml.automl: 09-25 16:45:19] {1931} INFO -  at 2.9s,	best lgbm's error=0.0551,	best lgbm's error=0.0551
[flaml.automl: 09-25 16:45:19] {1746} INFO - iteration 8, current learner lgbm
[flaml.automl: 09-25 16:45:19] {1931} INFO -  at 3.3s,	best lgbm's error=0.0551,	best lgbm's error=0.0551
[flaml.automl: 09-25 16:45:19] {1746} INFO - iteration 9, current learner xgboost
[flaml.automl: 09-25 16:45:19] {1931} INFO -  at 3.5s,	best xgboost's error=0.6226,	best lgbm's error=0.0551
[flaml.automl: 09-25 16:45:19] {1746} INFO - iteration 10, current learner rf
[flaml.automl: 09-25 16:45:20] {1931} INFO -  at 3.9s,	best rf's error=0.0648,	best lgbm's error=0.0551
[flaml.automl: 09-25 16:45:20] {1746} INFO - iteration 11, current learner xgboost
[flaml.automl: 09-25 16:45:20] {1931} INFO -  at 4.1s,	best xgboost's error=0.2833,	best lgbm's error=0.0551
[flaml.automl: 09-25 16:45:20] {1746} INFO - iteration 12, current learner xgboost
[flaml.automl: 09-25 16:45:20] {1931} INFO -  at 4.3s,	best xgboost's error=0.0593,	best lgbm's error=0.0551
[flaml.automl: 09-25 16:45:20] {1746} INFO - iteration 13, current learner xgboost
[flaml.automl: 09-25 16:45:21] {1931} INFO -  at 4.5s,	best xgboost's error=0.0593,	best lgbm's error=0.0551
[flaml.automl: 09-25 16:45:21] {1746} INFO - iteration 14, current learner xgboost
[flaml.automl: 09-25 16:45:21] {1931} INFO -  at 4.7s,	best xgboost's error=0.0593,	best lgbm's error=0.0551
[flaml.automl: 09-25 16:45:21] {1746} INFO - iteration 15, current learner xgboost
[flaml.automl: 09-25 16:45:21] {1931} INFO -  at 5.0s,	best xgboost's error=0.0567,	best lgbm's error=0.0551
[flaml.automl: 09-25 16:45:21] {1746} INFO - iteration 16, current learner rf
[flaml.automl: 09-25 16:45:22] {1931} INFO -  at 5.7s,	best rf's error=0.0577,	best lgbm's error=0.0551
[flaml.automl: 09-25 16:45:22] {1746} INFO - iteration 17, current learner lgbm
[flaml.automl: 09-25 16:45:22] {1931} INFO -  at 6.4s,	best lgbm's error=0.0537,	best lgbm's error=0.0537
[flaml.automl: 09-25 16:45:22] {1746} INFO - iteration 18, current learner rf
[flaml.automl: 09-25 16:45:23] {1931} INFO -  at 6.9s,	best rf's error=0.0577,	best lgbm's error=0.0537
[flaml.automl: 09-25 16:45:23] {1746} INFO - iteration 19, current learner xgboost
[flaml.automl: 09-25 16:45:23] {1931} INFO -  at 7.3s,	best xgboost's error=0.0559,	best lgbm's error=0.0537
[flaml.automl: 09-25 16:45:23] {1746} INFO - iteration 20, current learner xgboost
[flaml.automl: 09-25 16:45:24] {1931} INFO -  at 7.6s,	best xgboost's error=0.0548,	best lgbm's error=0.0537
[flaml.automl: 09-25 16:45:24] {1746} INFO - iteration 21, current learner lgbm
[flaml.automl: 09-25 16:45:24] {1931} INFO -  at 8.1s,	best lgbm's error=0.0537,	best lgbm's error=0.0537
[flaml.automl: 09-25 16:45:24] {1746} INFO - iteration 22, current learner lgbm
[flaml.automl: 09-25 16:45:26] {1931} INFO -  at 9.9s,	best lgbm's error=0.0523,	best lgbm's error=0.0523
[flaml.automl: 09-25 16:45:26] {1746} INFO - iteration 23, current learner rf
[flaml.automl: 09-25 16:45:27] {1931} INFO -  at 11.4s,	best rf's error=0.0559,	best lgbm's error=0.0523
[flaml.automl: 09-25 16:45:27] {1746} INFO - iteration 24, current learner rf
[flaml.automl: 09-25 16:45:29] {1931} INFO -  at 13.2s,	best rf's error=0.0555,	best lgbm's error=0.0523
[flaml.automl: 09-25 16:45:29] {1746} INFO - iteration 25, current learner lgbm
[flaml.automl: 09-25 16:45:32] {1931} INFO -  at 15.7s,	best lgbm's error=0.0523,	best lgbm's error=0.0523
[flaml.automl: 09-25 16:45:32] {1746} INFO - iteration 26, current learner xgboost
[flaml.automl: 09-25 16:45:32] {1931} INFO -  at 16.1s,	best xgboost's error=0.0541,	best lgbm's error=0.0523
[flaml.automl: 09-25 16:45:32] {1746} INFO - iteration 27, current learner xgboost
[flaml.automl: 09-25 16:45:32] {1931} INFO -  at 16.4s,	best xgboost's error=0.0541,	best lgbm's error=0.0523
[flaml.automl: 09-25 16:45:32] {1746} INFO - iteration 28, current learner xgboost
[flaml.automl: 09-25 16:45:33] {1931} INFO -  at 16.6s,	best xgboost's error=0.0541,	best lgbm's error=0.0523
[flaml.automl: 09-25 16:45:33] {1746} INFO - iteration 29, current learner lgbm
[flaml.automl: 09-25 16:45:34] {1931} INFO -  at 18.3s,	best lgbm's error=0.0523,	best lgbm's error=0.0523
[flaml.automl: 09-25 16:45:34] {1746} INFO - iteration 30, current learner lgbm
[flaml.automl: 09-25 16:45:36] {1931} INFO -  at 20.0s,	best lgbm's error=0.0523,	best lgbm's error=0.0523
[flaml.automl: 09-25 16:45:36] {1746} INFO - iteration 31, current learner catboost
[flaml.automl: 09-25 16:45:39] {1931} INFO -  at 22.8s,	best catboost's error=0.0595,	best lgbm's error=0.0523
[flaml.automl: 09-25 16:45:39] {1746} INFO - iteration 32, current learner lgbm
[flaml.automl: 09-25 16:45:41] {1931} INFO -  at 25.0s,	best lgbm's error=0.0513,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:45:41] {1746} INFO - iteration 33, current learner catboost
[flaml.automl: 09-25 16:45:43] {1931} INFO -  at 27.0s,	best catboost's error=0.0595,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:45:43] {1746} INFO - iteration 34, current learner lgbm
[flaml.automl: 09-25 16:45:46] {1931} INFO -  at 30.3s,	best lgbm's error=0.0513,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:45:46] {1746} INFO - iteration 35, current learner catboost
[flaml.automl: 09-25 16:45:48] {1931} INFO -  at 32.2s,	best catboost's error=0.0543,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:45:48] {1746} INFO - iteration 36, current learner rf
[flaml.automl: 09-25 16:45:50] {1931} INFO -  at 33.8s,	best rf's error=0.0555,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:45:50] {1746} INFO - iteration 37, current learner catboost
[flaml.automl: 09-25 16:45:52] {1931} INFO -  at 35.8s,	best catboost's error=0.0543,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:45:52] {1746} INFO - iteration 38, current learner catboost
[flaml.automl: 09-25 16:45:54] {1931} INFO -  at 37.7s,	best catboost's error=0.0543,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:45:54] {1746} INFO - iteration 39, current learner xgboost
[flaml.automl: 09-25 16:45:54] {1931} INFO -  at 38.2s,	best xgboost's error=0.0528,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:45:54] {1746} INFO - iteration 40, current learner xgboost
[flaml.automl: 09-25 16:45:55] {1931} INFO -  at 38.6s,	best xgboost's error=0.0528,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:45:55] {1746} INFO - iteration 41, current learner catboost
[flaml.automl: 09-25 16:46:00] {1931} INFO -  at 44.1s,	best catboost's error=0.0543,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:46:00] {1746} INFO - iteration 42, current learner lgbm
[flaml.automl: 09-25 16:46:02] {1931} INFO -  at 45.8s,	best lgbm's error=0.0513,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:46:02] {1746} INFO - iteration 43, current learner xgboost
[flaml.automl: 09-25 16:46:03] {1931} INFO -  at 46.7s,	best xgboost's error=0.0522,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:46:03] {1746} INFO - iteration 44, current learner rf
[flaml.automl: 09-25 16:46:05] {1931} INFO -  at 48.8s,	best rf's error=0.0555,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:46:05] {1746} INFO - iteration 45, current learner xgboost
[flaml.automl: 09-25 16:46:05] {1931} INFO -  at 49.4s,	best xgboost's error=0.0522,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:46:05] {1746} INFO - iteration 46, current learner lgbm
[flaml.automl: 09-25 16:46:08] {1931} INFO -  at 51.9s,	best lgbm's error=0.0513,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:46:08] {1746} INFO - iteration 47, current learner xgboost
[flaml.automl: 09-25 16:46:09] {1931} INFO -  at 53.4s,	best xgboost's error=0.0522,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:46:09] {1746} INFO - iteration 48, current learner lgbm
[flaml.automl: 09-25 16:46:11] {1931} INFO -  at 55.2s,	best lgbm's error=0.0513,	best lgbm's error=0.0513
[flaml.automl: 09-25 16:46:11] {1746} INFO - iteration 49, current learner lgbm
[flaml.automl: 09-25 16:46:16] {1931} INFO -  at 60.4s,	best lgbm's error=0.0489,	best lgbm's error=0.0489
[flaml.automl: 09-25 16:46:16] {1746} INFO - iteration 50, current learner catboost
[flaml.automl: 09-25 16:46:19] {1931} INFO -  at 63.4s,	best catboost's error=0.0543,	best lgbm's error=0.0489
[flaml.automl: 09-25 16:46:19] {1746} INFO - iteration 51, current learner lgbm
[flaml.automl: 09-25 16:46:22] {1931} INFO -  at 66.3s,	best lgbm's error=0.0489,	best lgbm's error=0.0489
[flaml.automl: 09-25 16:46:22] {1746} INFO - iteration 52, current learner lgbm
[flaml.automl: 09-25 16:46:29] {1931} INFO -  at 72.8s,	best lgbm's error=0.0489,	best lgbm's error=0.0489
[flaml.automl: 09-25 16:46:29] {1746} INFO - iteration 53, current learner lgbm
[flaml.automl: 09-25 16:46:34] {1931} INFO -  at 77.5s,	best lgbm's error=0.0489,	best lgbm's error=0.0489
[flaml.automl: 09-25 16:46:34] {1746} INFO - iteration 54, current learner lgbm
[flaml.automl: 09-25 16:46:38] {1931} INFO -  at 81.8s,	best lgbm's error=0.0489,	best lgbm's error=0.0489
[flaml.automl: 09-25 16:46:38] {1746} INFO - iteration 55, current learner catboost
[flaml.automl: 09-25 16:46:40] {1931} INFO -  at 84.5s,	best catboost's error=0.0543,	best lgbm's error=0.0489
[flaml.automl: 09-25 16:46:40] {1746} INFO - iteration 56, current learner lgbm
[flaml.automl: 09-25 16:46:45] {1931} INFO -  at 89.3s,	best lgbm's error=0.0489,	best lgbm's error=0.0489
[flaml.automl: 09-25 16:46:45] {1746} INFO - iteration 57, current learner lgbm
[flaml.automl: 09-25 16:47:07] {1931} INFO -  at 111.2s,	best lgbm's error=0.0475,	best lgbm's error=0.0475
[flaml.automl: 09-25 16:47:07] {1746} INFO - iteration 58, current learner catboost
[flaml.automl: 09-25 16:47:09] {1931} INFO -  at 112.7s,	best catboost's error=0.0543,	best lgbm's error=0.0475
[flaml.automl: 09-25 16:47:09] {1746} INFO - iteration 59, current learner catboost
[flaml.automl: 09-25 16:47:10] {1931} INFO -  at 114.1s,	best catboost's error=0.0543,	best lgbm's error=0.0475
[flaml.automl: 09-25 16:47:10] {1746} INFO - iteration 60, current learner catboost
[flaml.automl: 09-25 16:47:12] {1931} INFO -  at 115.6s,	best catboost's error=0.0543,	best lgbm's error=0.0475
[flaml.automl: 09-25 16:47:12] {1746} INFO - iteration 61, current learner catboost
[flaml.automl: 09-25 16:47:13] {1931} INFO -  at 117.0s,	best catboost's error=0.0543,	best lgbm's error=0.0475
[flaml.automl: 09-25 16:47:13] {1746} INFO - iteration 62, current learner catboost
[flaml.automl: 09-25 16:47:20] {1931} INFO -  at 123.5s,	best catboost's error=0.0543,	best lgbm's error=0.0475
[flaml.automl: 09-25 16:47:20] {2032} INFO - selected model: LGBMRegressor(colsample_bytree=0.5967846088487322,
              learning_rate=0.09348689572544734, max_bin=64,
              min_child_samples=4, n_estimators=112, num_leaves=94,
              objective='regression', reg_alpha=0.006958608037974516,
              reg_lambda=0.001895876878997586, verbose=-1)
[flaml.automl: 09-25 16:47:20] {1538} INFO - fit succeeded
[flaml.automl: 09-25 16:47:20] {1540} INFO - Time taken to find the best model: 111.23654437065125
[flaml.automl: 09-25 16:47:20] {1554} WARNING - Time taken to find the best model is 93% of the provided time budget and not all estimators' hyperparameter search converged. Consider increasing the time budget.

Лучшие гиперпараметры: {'n_estimators': 112, 'num_leaves': 94, 'min_child_samples': 4, 'learning_rate': 0.09348689572544734, 'log_max_bin': 7, 'colsample_bytree': 0.5967846088487322, 'reg_alpha': 0.006958608037974516, 'reg_lambda': 0.001895876878997586, 'FLAML_sample_size': 167875}
Лучшая метрика: 0.04750939436003001
Время на обучение: 21.883225679397583 s
raif_metric = {'mape': 0.04459696339846211, 'mdape': 0.03061000769740277, 'rmse': 0.710851683628062, 'r2': 0.47121746842428136, 'raif_metric': 0.023312913617357624}

In [ ]:
real_y_pred = automl.predict(scaled_X_test)
test['per_square_meter_price'] = np.expm1(real_y_pred)
final = test[['id','per_square_meter_price']].to_csv('sub3.csv', index=False)